body[darkMode='false'] {
  //----- Main
  --accent: #ff374d;
  --accent-glow: #ff374dA0;
  --accent-fg: #e5182f;
  --warning: #fc8712;
  --warning-glow: #ff7f2499;
  --warning-fg: #fc8712;
  --border: #bbbbbb;
  --border-focus: #0069d9aa;
  --main-bg: #d8d9da;
  --main-fg: #23242a;
  --header-bg: #cccdcf;
  --filterbar-bg: #dadbdc;
  --progressbar-bg: #cecece;

  //----- Buttons
  --button-border-hover: #f0f1f466;
  --button-bg: #e0e1e4;
  --button-bg-pressed: #aaabb7;
  --button-bg-selected: #0070f0;
  --button-bg-primary: #0070f0;
  --button-fg: #565666;
  --button-fg-accent: #FFFFFFCC;
  --button-fg-accent-focus: #FFFFFF;
  --button-fg-disabled: #4b4c54;
  --button-fg-hover: #16161d;
  --button-fg-pressed: #5f6069;
  --button-fg-selected: #e2e2e2;
  --button-glow: #ffffff66;
  --button-shadow: #00000040;


  //---------- CONTEXT MENU ----------//
  --contextMenu-bg: #ffffff20;
  --contextMenu-border: #ffffff66;
  --contextMenu-item-hover: #ffffff77;


  //---------- CARDS ----------//

  //----- ProjectCard
  --pc-main-bg: #CBCBCD;
  --pc-info-bg: #E4E4E6;
  --pc-info-bg-hover: #EEEEEE;
  --pc-info-bg-selected: #F6F6F8;
  --pc-dummy-bg: #82848B50;
  --pc-dummy-fg: #1d1d22;

  //----- EntityCard
  --entity-card-bg: #9CA1AD8E;
  --entity-footer-fg: #C0C0D0;
  --entity-icon-shadow: drop-shadow(0 0 1px #ffffff60);
  --entity-card-icon-bg: #DDDDDDBB;
  --reelsType-card-bg: #058805;
  --reelsType-card-bg-selected: #b0ffb7;
  --reelsType-card-fg: #9df3a4;
  --reelsType-card-fg-selected: #e2ffe5;
  --reelsType-card-icon-fg: #09a61e;
  --reelsType-card-selected-border: #0ca40a;
  --reelsType-card-selected-glow: #1aed7670;
  --reel-card-bg: #225fd0;
  --reel-card-bg-selected: #dbebff;
  --reel-card-icon-fg: #014fe3;
  --reel-card-title-fg: #014fe3;
  --reel-card-icon-bg: #225fd0;
  --reel-card-selected-border: #1b8dff;
  --reel-card-selected-glow: #5fa5ff80;
  --shot-card-bg: #343442;
  --shot-card-bg-selected: #bdbdd880;
  --shot-card-icon-fg: #4e4e67;
  --shot-card-selected-border: #dddddd99;
  --shot-card-selected-glow: #ffffff;


  //----- ExpandedBlock
  --expanded-block-bg: #464853;
  --expanded-block-reels-bg: #cfcfd1;
  --expanded-block-title-bg: linear-gradient(#dfdfe1 0%, var(--expanded-block-reels-bg) 100%);


  //---------- DATE TIMES ----------//
  --date1: #0c5af1;
  --user-email: #0794dd;
  --time1: #4c74bb;

  //----- Group
  --group-bg: #e5e7ea80;
  --group-border: #babec580;

  //----- Input
  --input-bg: #dedede;
  --input-bg-focus: #e3e3e3;
  --input-shadow: #99999955;

  //----- Menubar
  --menubar-bg: #c4c5c8;
  --menubar-bg-pressed: #52545d;
  --menubar-bg-selected: #52545d;
  --menubar-fg-hover: #16161d;
  --menubar-fg-pressed: #c2c2c2;
  --menubar-fg-selected: #e2e2e2;
  --menubar-submenu-bg1: #cacaca99;
  --menubar-submenu-bg2: #cacaca66;
  --menubar-submenu-bg-selected: #f3f3f399;
  --menubar-toggler: #babcbe;

  //----- Modal
  --modal-overlay: #0d0d11AA;
  --modal-header-bg: #0069D9;
  --modal-header-fg: #C8CED6;
  --modal-footer-bg: #B4B5B8;

  //----- Post
  --post-header-bg: #b6b6bd;
  --post-message-bg: #e0e1e4;

  //----- Ribbons
  --ribbon-bg: #80818433;
  --ribbon-reelsType-fg: #00A800;
  --ribbon-reel-fg: #0077ee;
  --ribbon-shot-fg: #1c1d24;

  //----- Scrollbars
  --scrollbar-bg: #80818433;
  --scrollbar-fg: #898b8daa;

  //----- Sendbar
  --sendbar-bg: #bdc0c5;

  //----- Sidebar
  --sidebar-bg: #F5F5F5;

  //----- Statuses
  --status-active: #2a2a35;
  --status-active-bg: #2a2a3530;
  --status-approving: #dd9000;
  --status-approving-bg: #dd900030;
  --status-paused: #607080;
  --status-paused-bg: #2a2a3530;
  --status-completed: #00a900;
  --status-completed-bg: #00a90030;
  --status-done: #00a900;
  --status-done-bg: #00a40d30;
  --status-archived: #007e2b;
  --status-archived-bg: #007e2b30;

  //----- Switcher
  --switcher-bg: #96969E;
  --switcher-bg-checked: #0069d9;
  --switcher-fg: #dbdde3;
  --switcher-fg-checked: #f5f6f8;

  //----- Table
  --table-bg-row1: #ECECEC;
  --table-bg-row2: #E4E4E4;
  --table-bg-row-hover: #DDDDDD20;
  --table-bg-row-selected: #c4c5c8;
  --table-border: #22222211;
  --table-header-bg: #62646d;
  --table-header-fg: #C0C0C0;
  --table-header-fg-hover: #E0E0E0;

  //----- Timeline
  //--timeline-row-bg: #cccccc99;
  --timeline-row-bg: linear-gradient(#cdcdcd 0%, #cacaca 100%);
  --timeline-row-border: #e8e8e880;
  --timeline-row-shadow-inner: #00000020;
  --timeline-border: #65789a99;
  --timeline-border-active: #1b8dff;

  //----- Text
  --text-low: #72747e;
  --text-low-selected: #97bfdb;
  --text-mid: #50525d;
  --text-mid-selected: #bdccde;
  --text-high: #1b1e22;
  --text-high-selected: #e0e5ec;
  --text-high2: #101315;
  --text-high2-selected: #101315;

  //----- UserPic
  --user-pic-bg: #82848B50;
  --user-pic-fg: #50506050;
}