@import-normalize;

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'DIN_REG';
  src: url('../../assets/fonts/PFDinDisplayPro-Reg.ttf') format('truetype');
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

:root {
  --rad: 4px;
  --topbar-height: 42px;
  --sidebar-width-min: 55px;
  --sidebar-width-max: 180px;
  --modal-overlay: #0d0d11AA;

  /* Typography */
  --fs-1: 8px;
  --fs-2: 9px;
  --fs-3: 10px;
  --fs-4: 11px;
  --fs-5: 12px;
  --fs-6: 13px;
  --fs-7: 15px;
  --fs-8: 16px;
  --fs-9: 18px;

  --fs-small1: var(--fs-4);
  --fs-small2: var(--fs-3);
  --fs-small3: var(--fs-2);

  --fs-normal: var(--fs-5);

  --fs-big1: var(--fs-7);
  --fs-big2: var(--fs-9);

  --fw-light: 300;
  --fw-normal: 500;
  --fw-bold: 700;

  --ff-button: 'Roboto', 'Segoe UI', sans-serif, 'Ubuntu';
  --ff-entity-card: Arial,'Segoe UI', Roboto, DIN_REG, sans-serif, 'Ubuntu';
  --ff-icon: DIN_REG, 'Roboto', sans-serif, 'Ubuntu';
  --ff-main: Roboto, DIN_REG, 'Segoe UI', sans-serif, 'Ubuntu';

}

::-webkit-scrollbar { height: 7px; width: 7px;  }
::-webkit-scrollbar-corner { background-color: transparent; }
::-webkit-scrollbar-track { background: var(--scrollbar-bg); border-radius: 4px; }
::-webkit-scrollbar-thumb { background: var(--scrollbar-fg); border-radius: 4px; }

* { box-sizing: border-box }

h1, h2, h3, h4, h5, h6 {
  font-weight: var(--fw-normal); margin: 0;
}

body {
  font-family: var(--ff-main);
  font-size: var(--fs-normal);
  -webkit-font-smoothing: antialiased;
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

@import "app.colors.dark";
@import "app.colors.light";

@import "input";
@import "label";
@import "common";

#root {
  background: var(--main-bg);
  color: var(--main-fg);
  height: 100vh;
  overflow: hidden;
  width: 100vw;
}


