.error {
  color: var(--accent);
  vertical-align: center;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  width: 100%;
}

.errorField {
  color: var(--accent);
  vertical-align: center;
  display: flex;
  align-items: center;
  width: 100%;
  font-size: var(--fs-small2);
  margin-left: 2px;
}

.toolButtonTxt {
  font-family: var(--ff-button);
  font-size: 11px;
  display: flex;
  align-items: center;
  margin-top: 2px;
  flex-wrap: nowrap;
}

.highPriority {
  &:after {
    content: '! ';
  }
  color: var(--accent);
  font-weight: 600;
}

