{  
  "breakLongMethodChains": false,
  "printWidth": 110,
  "singleQuote": true,
  "semi": false,
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "tabWidth": 2,
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^assets/(.*)$",
    "^store/(.*)$",
    "^hooks/(.*)$",
    "^components/(.*)$",
    "^components/ui(.*)$",
    "^[./]",
    "(.scss)$"
  ],
  "importOrderSeparation": false,
  "importOrderSortSpecifiers": true
}
