.container {
  transition: opacity 300ms;
  display: flex;
  flex-direction: column;
  position: absolute;
  border: 1px solid var(--contextMenu-border);
  background: var(--contextMenu-bg);
  height: max-content;
  width: max-content;
  padding: 2px;
  border-radius: 6px;
  box-shadow: 0 10px 20px var(--contextMenu-shadow);
  backdrop-filter: blur(12px);
  user-select: none;
  z-index: 10;

  &.hide { opacity: 0; z-index: -1; transition: 300ms, z-index 600ms;  }
}

.itemContainer { margin: 2px; }

.item {
  display: flex;
  align-items: center;
  height: 24px;
  gap: 5px;
  font-family: var(--ff-entity-card);
  white-space: nowrap;
  color: var(--text-mid);
  border-radius: 3px;

  &.accent { color: var(--accent-fg); }


  .icon {
    transition: color 250ms;
    width: 12px;
    height: 12px;
    margin-left: 6px;
    display: flex;
    justify-content: center;
    align-items: center;

    &.reelsType { color: var(--ribbon-reelsType-fg); }
    &.reel { color: var(--ribbon-reel-fg); }
    &.shot { color: var(--ribbon-shot-fg); }
    &.accent { color: var(--accent); }
    &.disabled { color: var(--text-mid); background: transparent; opacity: 0.6 }
  }

  .title {
    transition: color 250ms;
    margin: 2px;
    flex: 1;
    font-size: var(--fs-small1);
  }

  .shortcut {
    transition: color 250ms;
    opacity: 0.5;
    margin-right: 6px;
    text-align: right;
    justify-content: right;
    font-size: var(--fs-small2);
    font-weight: 500;
    &.accent { color: var(--accent); }
    &.disabled { color: var(--text-mid); background: transparent; opacity: 0.3; }
  }


}

.itemContainer:hover {
  &.itemContainer .item {
    color: var(--text-high2);
    background: var(--contextMenu-item-hover);
    &.disabled {
      color: var(--accent);
      background: transparent;
      opacity: 0.6 }

    &.accent,
    &.accent .icon {
      color: var(--white-90);
      background: var(--accent);
      opacity: 1;
      &.disabled { color: var(--text-mid); background: transparent; opacity: 0.6; }
    }
    &.accent .shortcut {
      opacity: 1;
      &.disabled { color: var(--text-mid); background: transparent; opacity: 0.3; }
    }
  }
}

.disabled  { color: var(--text-mid); background: transparent; opacity: 0.6; }





