.container {
  transition: max-width 250ms;
  height: 32px;
  min-height: 32px;
  max-width: var(--sidebar-width-min);
  display: flex;
  align-items: center;
  border-radius: 4px;
  padding: 0 6px;
  color: var(--main-fg);
  overflow: hidden;

  &.selected {
    color: var(--menubar-fg-selected);
    background: var(--menubar-bg-selected);
  }

  &:hover {
    color: var(--menubar-fg-hover);
    &.selected { color: var(--menubar-fg-selected) }
  }

  &:active {
    color: var(--menubar-fg-pressed);
    background: var(--menubar-bg-pressed);
  }

  cursor: default;
  user-select: none;
  z-index: 2;

  &.expanded {
    max-width: var(--sidebar-width-max);
  }
}

.icon {
  width: 24px;
  height: 24px;
}

.text {
  transition: opacity 200ms;
  font-weight: 500;
  white-space: nowrap;
  width: auto;
  margin-left: 6px;
  opacity: 1;
  z-index: 0;

  &.hide {
    margin-left: 0;
    width: 0;
    opacity: 0;
  }
}

.count {
  font-weight: 500;
  margin-left: auto;
  width: auto;
  opacity: 1;

  &.hide {
    margin-left: 0;
    width: 0;
    opacity: 0;
  }
}