body[darkMode='true'] {
  //----- Main
  --accent: #f04050;
  --accent-glow: #f04050;
  --accent-fg: #ff7684;
  --warning: #ff7f24;
  --warning-glow: #ff7f24;
  --warning-fg: #ffd893;
  --border: #202026;
  --border-focus: #0066ccbb;
  --main-bg: #23242a;
  --main-fg: #9192a1;
  --menubar-bg: #1c1d24;

  //----- Button
  --button-border-hover: #45474eaa;
  --button-bg: #35373e;
  --button-bg-pressed: #2c2d32;
  --button-bg-selected: #35373eAA;
  --button-fg: #9192a1;
  --button-fg-disabled: #4b4c54;
  --button-fg-hover: #c8ced6;
  --button-fg-pressed: #5f6069;
  --button-fg-selected: #0070f0;
  --button-glow: #00000050;
  --button-shadow: #00000040;

  //----- Input
  --input-bg: #282830;
  --input-bg-focus: #222228;
  --input-shadow: #11111133;

  //----- Palette
  --palette-white-50: #FFFFFF90;
  --palette-white-60: #FFFFFFA0;
  --palette-white-70: #FFFFFFB0;
  --palette-white-80: #FFFFFFCC;
  --palette-white-90: #FFFFFFE0;
  --palette-white: #FFFFFF;

  //----- Scrollbars
  --scrollbar-bg: #40414933;
  --scrollbar-fg: #404149;

  //----- Text
  --text-low: #646574;
  --text-low-selected: #646574;
  --text-mid: #9192a1;
  --text-mid-selected: #9192a1;
  --text-high: #c8ced6;
  --text-high-selected: #c8ced6;
  --text-high2: #eceff1;
  --text-high2-selected: #eceff1;
}