.loginPageContainer {
  @apply flex items-center justify-center h-3/4;
}

.loginBoxContainer {
  background: var(--main-bg);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  @apply flex flex-col w-96 h-80 rounded-lg p-2;
}

.headerTitle {
  font-size: var(--fs-6);
  @apply flex-1 ml-1 font-medium;
}

.formTitle {
  font-size: var(--fs-8);
  @apply flex items-center justify-center h-full;
}
